youtube-transcript-api
git+https://github.com/raymond-yuan/langchain.git@ryuan/relevance_refactor
unstructured
python-dotenv
pymupdf
chromadb
huggingface_hub
sentence_transformers
streamlit
openai
bs4
tiktoken
